PORT=5000
MONGO_URI=mongodb+srv://mounip2006_db_user:hVX1F3Bp7EO8x1pY@cluster0.mz418kr.mongodb.net/projectmate?retryWrites=true&w=majority
JWT_SECRET=projectmate_secret_jwt_key_2026_btech_major_project
BACKEND_URL=https://projectmate-3kx9.onrender.com
FRONTEND_URL=https://project-mate-seven.vercel.app
CLIENT_URL=https://project-mate-seven.vercel.app
GITHUB_TOKEN=your_github_token_optional
